<footer>
        <div class="socials">
            <a href="#"><i data-feather="instagram"></i></a>
            <a href="#"><i data-feather="linkedin"></i></a>
            <a href="#"><i data-feather="github"></i></a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
        </div>
        <div class="credit">
            <p>Built with Precision by <a href="#">Daud Ibrahim</a>. | &copy; 2026 <span>Aspiring SOC Analyst</span>.</p>
        </div>
    </footer>